<!DOCTYPE html>
    <html lang="en-us">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create walk</title>
      <meta name="robots" content="noindex, nofollow" />

      <link rel="stylesheet" href="{{server_path}}/static/css/main.css">
      <link rel="stylesheet" href="{{server_path}}/static/css/leaflet.css" />
      <link rel="stylesheet" href="{{server_path}}/static/css/leaflet.draw.css" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

      <script type="text/javascript" src="{{server_path}}/static/js/leaflet.js"></script>
      <script type="text/javascript" src="{{server_path}}/static/js/leaflet.draw.js"></script>


      <style>
       #audio {
         display:none;
       }
       #icon {
         width: 30px;
       }

       #map { height: 500px; width: 500px;}
       #map2 { height: 500px; width: 500px;}
      </style>

      <script type="text/javascript">

      function validateForm(){

        var form = document.getElementById("walk"), inputs = form.getElementsByTagName("input"), input = null, flag = true;
        for(var i = 0, len = inputs.length; i < len; i++) {
          input = inputs[i];
          if(!input.value) {
            flag = false;
            input.focus();
            alert("Please fill all the inputs");
            break;
          }
      }
      return(flag);

     }
     </script>

    </head>
    <body>
      <p><a href="{{server_path}}{{url_for('people',person_id=person_id)}}">Home</a></p>
      <div>
        <h2>New walk by {{person_id}}</h2>

        <form id="walk" action="{{server_path}}{{url_for('uploadWalk',person_id=person_id)}}" method="POST" enctype="multipart/form-data"  onsubmit="return validateForm();">

        <h3>1. Decide on your destination</h3>

        <p>What's interesting about it? how far is it? HINT: aim for 100-200 metres. You could start from somewhere else 
        as long as there's parking.</p>

        <h3>2. Make a map</h3>

        <p>Use the line drawing tool <img id="icon" src="/static/splash/line_tool.png"/>, click on it and then you can draw a line from the starting 
        point icon (or anywhere) to your chosen destination, clicking 'finish' to complete the route. You can pan and resize the map as you want. When 
        you are finished, check the checkbox below the map to calculate the distance.</p>

       <div id="map"></div>

       <br />
       I'm done! Calculate the distance: <input type="checkbox" name="checkfield" id="g01-01"  onchange="javascript:dostuff2();"/> <span id="walklengthvisible"></span>

        <h3>3. Write a short title and description</h3>

           <input type ="text" name="title" value="Where to?" /><br />
           <textarea name="description" rows="8" cols="70">Write something interesting about the destination</textarea>

        <h3>4. Add a voice note</h3>

         <p>Be encouraging!</p>

        <button class="record">Record</button>
        <button class="stop">Stop</button>
        <section class="sound-clips"></section>

        <h3>6. Finally, upload your walk</h3>

           <input type="file" id="audio" name="audio_recording" />
           <input type="hidden" name="suffix" id="suffix">
           <input type="hidden" name="mapdata" id="mapdata">
           <input type="hidden" name="walklength" id="walklength">
           <input type="submit" value="Upload a new walk">
        </form>  
      </div>
      <br />
      <br />


<script type="text/javascript">
//from https://github.com/mdn/dom-examples/tree/main/media/web-dictaphone
const record = document.querySelector('.record');
const stop = document.querySelector('.stop');
const soundClips = document.querySelector('.sound-clips');

// disable stop button while not recording

stop.disabled = true;

let audioCtx;

//main block for doing the audio recording

if (navigator.mediaDevices.getUserMedia) {
    console.log('getUserMedia supported.');

    const constraints = { audio: true };
    let chunks = [];

    let onSuccess = function(stream) {

    //look for mp4 (safari, ios) then webm
    //convert to mp3 serverside

    var canRecordMp4 = MediaRecorder.isTypeSupported('audio/mp4');

    if (canRecordMp4){
        mediaRecorder = new MediaRecorder(stream, {mimeType : 'audio/mp4'});
    } else{
        mediaRecorder = new MediaRecorder(stream, {mimeType : 'audio/webm'});
    }


    record.onclick = function() {
      mediaRecorder.start();
      console.log(mediaRecorder.state);
      console.log("recorder started");
      record.style.background = "red";

      stop.disabled = false;
      record.disabled = true;
    }

    stop.onclick = function() {
      mediaRecorder.stop();
      console.log(mediaRecorder.state);
      console.log("recorder stopped");
      record.style.background = "";
      record.style.color = "";

      stop.disabled = true;
      record.disabled = false;
    }

    mediaRecorder.onstop = function(e) {
      console.log("data available after MediaRecorder.stop() called.");

      //can't record another until you delete one
      record.disabled = true;

      const clipContainer = document.createElement('article');
      const clipLabel = document.createElement('p');
      const audio = document.createElement('audio');
      const deleteButton = document.createElement('button');

      clipContainer.classList.add('clip');
      audio.setAttribute('controls', '');

      clipName = "audio_recording";

      clipContainer.appendChild(audio);
      clipContainer.appendChild(deleteButton);
      soundClips.appendChild(clipContainer);

      const clip_id = soundClips.children.length;      
      console.log("number of recordings",clip_id);      
      audio.controls = true;

      deleteButton.textContent = 'Delete';
      deleteButton.className = 'delete';
      deleteButton.id = 'delete_'+clip_id;


      var blob;
      let suffix = "webm";
      let type = "";
      if (canRecordMp4){
         blob = new Blob(chunks, { "type" : "audio/mp4" });
         suffix = "mp4";
         type = "audio/mp4";
      }else{
         blob = new Blob(chunks, { "type" : "audio/webm" });
         type = "audio/webm";
      }

      chunks = [];
      const audioURL = window.URL.createObjectURL(blob);
      audio.src = audioURL;
      console.log("recorder stopped");

      const formElem = document.querySelector('form');

      // https://stackoverflow.com/a/74087012
      const fileInput = document.querySelector('#audio');

      // Create a new File object
      const myFile = new File([blob], "audio_recording_"+clip_id+"."+suffix, {
            type: type,
            lastModified: new Date(),
      });
    
      // Now let's create a DataTransfer to get a FileList
      const dataTransfer = new DataTransfer();
      dataTransfer.items.add(myFile);
      console.log("fileInput",fileInput);
      fileInput.files = dataTransfer.files;
      ////

      const s = document.querySelector('#suffix');
      s.value = suffix;
      console.log("suffix",suffix,canRecordMp4);

      deleteButton.onclick = function(e) {
        e.target.closest(".clip").remove();
        record.disabled = false;
        //delete it from the form
        fileInput.files = null;
      }

    }

    mediaRecorder.ondataavailable = function(e) {
      chunks.push(e.data);
    }
  }

  let onError = function(err) {
    console.log('The following error occured: ' + err);
  }

  navigator.mediaDevices.getUserMedia(constraints).then(onSuccess, onError);

} else {
   console.log('getUserMedia not supported on your browser!');
}
</script>

      <script type="text/javascript">

       // map stuff
       var walk_length = 0;
       // https://stackoverflow.com/questions/41622980/how-to-customize-touch-interaction-on-leaflet-maps#41631385
       var map = L.map('map').setView({{geo}}, {{scale}});
       map.scrollWheelZoom.disable();
       // https://github.com/Leaflet/Leaflet.draw/issues/695#issuecomment-577151966
       L.Draw.Polyline.prototype._onTouch = L.Util.falseFn;

       L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
       }).addTo(map);

       var marker = L.marker({{geo}});

       var home = {
         "type": "Feature",
         "properties": {
           "name": "Home"
         },
         "geometry": {
           "type": "Point",
           "coordinates": {{geo}}
         }
       };

       marker.addTo(map);
       // FeatureGroup is to store editable layers
       var drawnItems = new L.FeatureGroup();
       map.addLayer(drawnItems);
       var drawControl = new L.Control.Draw({
         draw: {
             polygon: false,
             circlemarker: false,
             circle: false,
             rectangle: false,
             marker: false
         },
         edit: {
             featureGroup: drawnItems
         }
       });

       map.addControl(drawControl);
       map.on(L.Draw.Event.CREATED, function (e) {
            var type = e.layerType,
                layer = e.layer;

            drawnItems.addLayer(layer);
            // https://gis.stackexchange.com/questions/422864/getting-total-length-of-polyline-from-leaflet-draw
            if (type === 'polyline') {
              var coords = e.layer.getLatLngs();
              var length = 0;
              for (var i = 0; i < coords.length - 1; i++) {
                length += coords[i].distanceTo(coords[i + 1]);
              }
              console.log(length);
              walk_length = length;
            }
        });

        map.on(L.Draw.Event.EDITED, function (e) {
            var layers = e.layers;
            var countOfEditedLayers = 0;
            layers.eachLayer(function(layer) {
                countOfEditedLayers++;
            });
            console.log("Edited " + countOfEditedLayers + " layers");
        });


        function dostuff2(){

          let mystuff = [];
          mystuff.push(home);
          drawnItems.eachLayer(function (layer) {

            let geojsonFeature = layer.toGeoJSON();
            mystuff.push(geojsonFeature)

          });


         // and show length somewhere

         // console.log(mystuff);
         if(mystuff.length > 0){
           let mapdata = JSON.stringify(mystuff);
           console.log(walk_length);

           //add to form
           //and length too
           const m = document.querySelector('#mapdata');
           m.value = mapdata;
           const wl = document.querySelector('#walklength');
           wl.value = parseInt(walk_length);
           const wlv = document.querySelector('#walklengthvisible');
           wlv.innerHTML = "Walk length is "+parseInt(walk_length)+" metres";
         }
       }

      </script>

  </html>
